/* utility ***************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 290px;
}

:root {
    --bb-black: #1F1F1F;
    --bb-darkblue: #161C3B;
    --bb-blue: #0044a2;
    --bb-lightblue: #2D64E6;
    --bb-white: white;
    --bb-red: red;
    --bb-grey: rgb(189, 188, 188);
    --bb-lightgrey: rgb(224, 219, 219);
}

.bg-black{
    background-color: var(--bb-black);
}

.bg-red{
    background-color: var(--bb-red);
}

.bg-grey{
    background-color: var(--bb-grey);
}

.bg-lightgrey{
    background-color: var(--bb-lightgrey);
}

.bg-darkblue{
    background-color: var(--bb-darkblue);
}

.bg-lightblue{
    background-color: var(--bb-lightblue);
}

a{
    text-decoration: none;
    cursor: pointer;
}

[class*="col-"]{
    flex: 0 0 auto;
}

/* .debug{
    border: 1px solid black;
    min-height: 50px;
} */

/* nav bar  **************/

nav img{
    width: 20%;
}

nav .btn{
    color: var(--bb-black);
    background-color: var(--bb-white);
}

/* hero ***********************/

.hero{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: block;
}

.hero img{
    width: 50%;
}

.m-top-12{
    margin-top: 12rem;
}

/* under hero  **********************/

.under-hero img{
    width: 100%;
}

/* section consoleps5 ****************/

.m-top-8{
    margin-top: 8rem;
}

.consolps5 img{
    width: 100%;
}

/* section second hero  ***************/

.second-hero{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: block;
}

.second-hero img{
    width: 50%;
}

/* section new released ******************/

.new-released img{
    width: 100%;
}

/* section ps4  *********************/

.ps4 i{
    font-size: 0.8rem;
}

.ps4 img{
    width: 100%;
}

/* ps-plus e ps-now  ****************/
.ps-plus .ps-now, img{
    width: 60%;
}

.m-bot-6{
    margin-bottom: 6rem;
}

/* section sales  *************************/

.sales img{
    width: 100%;
}

/* section social  *****************/

.social img{
    width: 100%;
}

/* footer  ******************/

footer img{
    width: 30%;
}

summary{
    list-style: none;
}

.bb-border{
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    width: 95%;
    margin: auto;
    padding: 0.5rem 0;
}

footer a{
    color: var(--bb-white);
}